<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head th:insert="~{index :: defaultHead}"></head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">Comments</div>
        </div>
        <div class="row">
            <div class="col-12 text-center">Authors</div>
            <div class="col-12 d-flex justify-content-center">
                <a th:href="@{/comments/add}">
                    <button class="btn btn-danger">MAKE</button>
                </a>
            </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-reponsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Comment Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comment:${comments}">
                            <td th:text="${comment.id}"></td>
                            <td th:text="${comment.email}"></td>
                            <td th:text="${comment.postDate}"></td>
                            <td>
                                <a th:href="@{/comments/modify/{id}(id=${comment.id})}" class="btn btn-success">Change yourself</a>
                            </td>
                            <td>
                                <button class="btn btn-primary delete-op" th:data-id="${comment.id}">Goodbye</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--bootstrap script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        const deleteButtons = document.querySelectorAll("button.delete-op");
        deleteButtons.forEach((deleteButton) => {
            deleteButton.addEventListener("click", (event) => {
                const id = deleteButton.getAttribute("data-id");
                fetch(`/api/authors/${id}`, {
                    method:"DELETE"
                }).then((res) => {
                    if(res.status >= 200 && res.status < 400) {
                        window.location.reload();
                    } else {
                        return res.json();
                    }}).then((error) => {
                            const alertMessage = document.querySelector("#alertMessage");
                            
                            const alertElement = document.createElement("div");
                            alertElement.classList.add("alert", "alert-danger", "alert-dismissable");
                            alertElement.role="alert";
                            alertElement.innerHTML = `
                            <div class ="d-flex flex-column justify-content-center align-items-center">
                                <div class="my-2">Status: ${error.status}</div>
                                <div class="my-2">Error: ${error.message}</div>
                                    <button type="button" class="btn btn-danger close" data-dismiss="alert" aria-label="Close">
                                    Close
                                    </button>
                            </div>
                            `;
                            alertMessage.appendChild(alertElement);
                    })
            })
        })
    </script>
</body>
</html>