<!DOCTYPE html>
<html lang="en" xml:th:"http://www.thymeleaf.org">
<head th:insert="~{index :: defaultHead}"></head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Update Author
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">

                <form th:action="@{/authors/update}" th:object="${author}" method="post">
                    <!--Utilizzare il metodo col passaggio di variabile id sostituisce l'uso di un input:hidden-->
                    <input type="hidden" th:field="*{id}">
                    
                    <div class="mb-3">
                        <label for="fn" class="form-label">First name</label>
                        <input th:field="*{firstname}" type="text" class="form-control" id="fn" aria-describedby="textHelp" placeholder="Your name">
                    </div>
                    <div class="mb-3">
                        <label for="ln" class="form-label">Last name</label>
                        <input th:field="*{lastname}" type="text" class="form-control" id="ln" aria-describedby="textHelp" placeholder="Your surname">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="textHelp" placeholder="Your email">
                    </div>
                    <button type="submit" class="btn btn-danger col-2">Submit</button>
                    <button type="reset" class="btn btn-success col-2">Clean</button>
                </form>

            </div>
        </div>
    </div>

    <!--bootstrap script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>