<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head th:fragment="defaultHead">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--cssCustom-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">Hello</div>
        </div>
        <div class="row">
            <div class="col-12 text-center d-flex flex-column justify-content-center my-2">
                <a th:href="@{/{path}(path=${authorsPath})}" class="btn btn-success">Authors</a>
            </div>
            <div class="col-12 text-center d-flex flex-column justify-content-center my-2">
                <a th:href="@{/{path}(path=${postsPath})}" class="btn btn-success">Posts</a>
            </div>
            <div class="col-12 text-center d-flex flex-column justify-content-center my-2">
                <a th:href="@{/{path}(path=${commentsPath})}" class="btn btn-success">Comments</a>
            </div>
        </div>
    </div>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>